* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: 200px;
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: white;
}
#iguanaButton {
    background-image: url(../images/iguana.jpg);
    background-size: cover;
    background-position: center;
}
#catButton {
    background-image: url(../images/cat.jpg);
    background-size: cover;
    background-position: center;
}
#eagleButton {
    background-image: url(../images/eagle.jpg);
    background-size: cover;
    background-position: center;
}
#hamsterButton {
    background-image: url(../images/hamster.jpg);
    background-size: cover;
    background-position: center;
}
#umbrellabirdButton {
    background-image: url(../images/umbrellaBird.jpg);
    background-size: cover;
    background-position: center;
}
#shepherdButton {
    background-image: url(../images/shepherd.jpg);
    background-size: cover;
    background-position: center;
}
#ostrichButton {
    background-image: url(../images/ostrich.jpg);
    background-size: cover;
    background-position: center;
}
#poodleButton {
    background-image: url(../images/poodle.jpg);
    background-size: cover;
    background-position: center;
}
#gopherButton {
    background-image: url(../images/gopher.jpg);
    background-size: cover;
    background-position: center;
}