.gifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 5;
    overflow: hidden;
    justify-content: space-evenly;
    
}

.image {
    float: left;
    margin: 5px;
    width: 250px;
    height: 200px;
    border-style: solid;
    border-color: black;
}